#header{
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title{
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
/* .banner-buttons{

} */

.banner-button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Poppins';
    border-radius: 0.2vw;
    padding:8px 24px;
    margin-right: 1rem;
    background-color: rgba(10, 10, 10, 0.5);
    transition: all 300ms ease-in-out;
}
.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
}

.banner-desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 16px;
    max-width: 360px;
    height: 80px;
}

.banner-fade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
}